absl-py==0.8.0
alabaster==0.7.12
annoy==1.15.1
apache-beam==2.16.0
appdirs==1.4.3
appnope==0.1.0
astor==0.7.1
astroid==2.2.0
atari-py==0.1.7
atomicwrites==1.2.1
attrs==18.2.0
autograd==1.3
avro-python3==1.9.1
awscli==1.16.55
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.1.0
blinker==1.4
bokeh==1.1.0
boto==2.49.0
boto3==1.9.57
botocore==1.12.57
brewer2mpl==1.4.1
cached-property==1.5.1
cachetools==3.1.1
certifi==2022.12.7
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.3.9
ConfigArgParse==0.14.0
configparser==4.0.2
coverage==4.5.2
crcmod==1.7
cycler==0.10.0
Cython==0.29.6
-e git+https://gitlab.cs.washington.edu/jpgard/darpa-ateams-test-analysis.git@2ade241de3c405127bebb46c74ccbddd25b5f410#egg=darpa&subdirectory=src
dask==1.0.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.3.0
distributed==1.25.2
distro==1.3.0
docopt==0.6.2
docutils==0.14
dominate==2.3.5
entrypoints==0.3
enum34==1.1.6
fastavro==0.21.24
fasteners==0.15
-e git+https://github.com/jpgard/ffn.git@e7eabc6dee9c9d9151e9e7aa3efc33977a71d2a2#egg=ffn
ffn-tracer==0.1.0
filelock==3.0.10
flake8==3.7.7
future==0.17.1
gast==0.2.2
ggplot==0.11.5
glfw==1.7.1
google-api-core==1.14.3
google-api-python-client==1.7.8
google-apitools==0.5.28
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.17.1
google-cloud-bigtable==1.0.0
google-cloud-core==1.0.3
google-cloud-datastore==1.7.4
google-cloud-pubsub==1.0.2
google-compute-engine==2.8.3
google-pasta==0.1.7
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
graphviz==0.10.1
grpc-google-iam-v1==0.12.3
grpcio==1.25.0
gym==0.12.0
-e git+https://gitlab.cs.washington.edu/jpgard/gym-mozak.git@0512eb0e6b26e13319737170849aa9dc04dae24b#egg=gym_mozak
h5py==2.8.0
hdbscan==0.8.20
hdfs==2.5.8
HeapDict==1.0.0
httplib2==0.12.0
idna==2.7
imageio==2.5.0
imageio-ffmpeg==0.2.0
imagesize==1.1.0
imutils==0.5.2
ipdb==0.11
ipydatawidgets==4.0.1
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipywebrtc==0.5.0
ipywidgets==7.4.2
isort==4.3.9
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.31.0
locket==0.2.0
lockfile==0.12.2
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.1
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
monotonic==1.5
more-itertools==4.3.0
morf-api==0.5.1
moviepy==1.0.0
-e git+https://gitlab.cs.washington.edu/jpgard/mozak-state-space-representation.git@cd3dbcc44e3a920d816246a2b0ea979ca6fcd05e#egg=mozak&subdirectory=src
mpi4py==3.0.1
mpmath==1.1.0
msgpack==0.6.0
mujoco-py==1.50.1.68
mysql-connector-python==8.0.15
mysql-connector-python-rf==2.2.2
nbconvert==5.4.1
nbformat==4.4.0
nervananeon==2.6.0
nest-asyncio==1.2.0
networkx==2.3
nibabel==2.5.1
NiftyNet==0.6.0
nilearn==0.5.2
niwidgets==0.2.2
nose==1.3.7
notebook==5.7.4
numba==0.47.0
numpy==1.16.2
oauth2client==3.0.0
oauthlib==3.1.0
opencv-python==4.1.1.26
opt-einsum==3.1.0
packaging==19.0
pandas==0.23.4
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.9
patsy==0.5.1
pbr==5.1.3
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pipreqs==0.4.9
-e git+https://github.com/ntasfi/PyGame-Learning-Environment@cbdc53630b50fe6cffe950ae6b89c442f0a6eaae#egg=ple
plotly==3.8.1
pluggy==0.8.0
ply==3.11
portpicker==1.3.1
posix-ipc==1.0.4
POT==0.6.0
proglog==0.1.9
progressbar2==3.39.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.11.0
psutil==5.6.7
ptyprocess==0.6.0
PuLP==1.6.9
py==1.7.0
py-cpuinfo==4.0.0
pyarrow==0.14.1
pyasn1==0.4.4
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
-e git+https://github.com/pydap/pydap.git@4ba09cad74de2e47ab898c45b1e2af1fe7e5bb4e#egg=pydap
pydot==1.4.1
pyflakes==2.1.1
pygame==1.9.4
pyglet==1.3.2
Pygments==2.2.0
pylint==2.3.0
pymongo==3.9.0
pypandoc==1.4
pyparsing==2.3.0
PyPrind==2.11.2
pytest==4.0.0
pytest-cov==2.6.1
pytest-mock==1.10.1
python-dateutil==2.8.1
python-utils==2.3.0
pythreejs==2.1.1
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
-e git+https://github.com/rll/rllab.git@ba78e4c16dc492982e648f117875b22af3965579#egg=rllab
rsa==3.4.2
s3transfer==0.1.13
scikit-image==0.15.0
scikit-learn==0.20.4
scipy==1.3.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.11.0
skan==0.8
sklearn==0.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
sparse==0.8.0
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
statsmodels==0.9.0
sympy==1.5.1
tb-nightly==1.15.0a20190911
tblib==1.3.2
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-federated==0.9.0
tensorflow-metadata==0.15.1
tensorflow-model-optimization==0.1.3
tensorflow-privacy==0.1.0
tensorflow-serving-api==2.0.0
tensorflow-transform==0.15.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tf-estimator-nightly==2.0.0.dev2019100101
tf-nightly==1.15.0.dev20190805
tfa-nightly==0.7.0.dev20191010
tfx-bsl==0.15.3
Theano==1.0.4
toolz==0.9.0
torch==1.0.1.post2
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.2.2.post3
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
traittypes==0.2.1
typed-ast==1.2.0
umap-learn==0.3.7
uritemplate==3.0.0
urllib3==1.24.1
virtualenv==16.7.6
visdom==0.1.8.8
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.4
websocket-client==0.56.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.11.1
yarg==0.1.9
zict==0.1.3
